In [1]:
import pandas as pd
from rdkit import Chem

In [2]:
wb97xd3_df = pd.read_csv('tests/data/reaction/wb97xd3.csv')
ccsdtf12_dz_df = pd.read_csv('tests/data/reaction/ccsdtf12_dz.csv')
ccsdtf12_tz_df = pd.read_csv('tests/data/reaction/ccsdtf12_tz.csv')

In [3]:
# print the length of each df
print(len(wb97xd3_df))
print(len(ccsdtf12_dz_df))
print(len(ccsdtf12_tz_df))

11926
11926
15

In [4]:
list(wb97xd3_df.columns)

['idx', 'rsmi', 'psmi', 'rinchi', 'pinchi', 'dE0', 'dHrxn298', 'rmg_family']

In [5]:
# drop idx column from all dfs
wb97xd3_df = wb97xd3_df.drop(columns=['idx'])
ccsdtf12_dz_df = ccsdtf12_dz_df.drop(columns=['idx'])
ccsdtf12_tz_df = ccsdtf12_tz_df.drop(columns=['idx'])

In [6]:
# add a suffix of the df name to the 'dE0' and 'dHrxn298' column names in all dfs
wb97xd3_df = wb97xd3_df.rename(columns={'dE0': 'dE0_wb97xd3', 'dHrxn298': 'dHrxn298_wb97xd3'})
ccsdtf12_dz_df = ccsdtf12_dz_df.rename(columns={'dE0': 'dE0_ccsdtf12_dz', 'dHrxn298': 'dHrxn298_ccsdtf12_dz'})
ccsdtf12_tz_df = ccsdtf12_tz_df.rename(columns={'dE0': 'dE0_ccsdtf12_tz', 'dHrxn298': 'dHrxn298_ccsdtf12_tz'})

In [7]:
# merge all 4 dataframes on the shared columns
merged_df = pd.merge(wb97xd3_df, ccsdtf12_dz_df, on=['rsmi', 'psmi', 'rinchi', 'pinchi', 'rmg_family'], how='outer')
merged_df = pd.merge(merged_df, ccsdtf12_tz_df, on=['rsmi', 'psmi', 'rinchi', 'pinchi', 'rmg_family'], how='outer')
merged_df

,rsmi,psmi,rinchi,pinchi,dE0_wb97xd3,dHrxn298_wb97xd3,rmg_family,dE0_ccsdtf12_dz,dHrxn298_ccsdtf12_dz,dE0_ccsdtf12_tz,dHrxn298_ccsdtf12_tz
0,[C:1]([c:2]1[n:3][o:4][n:5][n:6]1)([H:7])([H:8...,[C:1]([C:2]([N:3]=[O:4])=[N+:6]=[N-:5])([H:7])...,InChI=1S/C2H3N3O/c1-2-3-5-6-4-2/h1H3,InChI=1S/C2H3N3O/c1-2(4-3)5-6/h1H3,48.73925,21.40228,NaN,48.61085,26.77621,NaN,NaN
1,[C:1]([c:2]1[n:3][o:4][n:5][n:6]1)([H:7])([H:8...,[C:1]([N:3]=[C:2]=[N:6][N:5]=[O:4])([H:7])([H:...,InChI=1S/C2H3N3O/c1-2-3-5-6-4-2/h1H3,InChI=1S/C2H3N3O/c1-3-2-4-5-6/h1H3,74.31711,21.57450,NaN,74.02980,28.79099,NaN,NaN
2,[C:1]([O:2][C:3]([C:4]([O:5][H:13])([H:11])[H:...,[C:1]1([H:6])([H:7])[O:2][C:3]([H:9])([H:10])[...,"InChI=1S/C3H8O2/c1-5-3-2-4/h4H,2-3H2,1H3",InChI=1S/C3H6O.H2O/c1-2-4-3-1;/h1-3H2;1H2,102.81328,13.09638,NaN,97.42200,12.60220,NaN,NaN
3,[C:1]([O:2][C:3]([C:4]([O:5][H:13])([H:11])[H:...,[C:1]([O:2][H:13])([H:6])([H:7])[H:8].[C:3]1([...,"InChI=1S/C3H8O2/c1-5-3-2-4/h4H,2-3H2,1H3","InChI=1S/C2H4O.CH4O/c1-2-3-1;1-2/h1-2H2;2H,1H3",76.92773,27.94548,NaN,75.25375,28.98589,NaN,NaN
4,[C:1]([O:2][C:3]([C:4]([O:5][H:13])([H:11])[H:...,[C:1]([O:2][H:13])([H:6])([H:7])[H:8].[C:3]([C...,"InChI=1S/C3H8O2/c1-5-3-2-4/h4H,2-3H2,1H3","InChI=1S/C2H4O.CH4O/c1-2-3;1-2/h2H,1H3;2H,1H3",72.31295,1.38990,NaN,72.16356,1.41779,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
11921,[C:1]([C@@:2]([O:3][H:12])([C:4]([O:5][C:6](=[...,[C:1]([C:2][C:4]([O:5][C:6](=[O:7])[H:15])([H:...,"InChI=1S/C4H8O3/c1-4(6)2-7-3-5/h3-4,6H,2H2,1H3...","InChI=1S/C4H6O2.H2O/c1-2-3-6-4-5;/h4H,3H2,1H3;1H2",76.63047,81.75287,NaN,75.56813,79.63518,NaN,NaN
11922,[C:1]([C@@:2]([O:3][H:12])([C:4]([O:5][C:6](=[...,[C:1]([C@@:2]1([H:11])[O:3][C@:6]([O:7][H:12])...,"InChI=1S/C4H8O3/c1-4(6)2-7-3-5/h3-4,6H,2H2,1H3...","InChI=1S/C4H8O3/c1-3-2-6-4(5)7-3/h3-5H,2H2,1H3...",43.81820,6.42893,NaN,42.41621,5.79695,NaN,NaN
11923,[C:1]([C@@:2]([O:3][H:12])([C:4]([O:5][C:6](=[...,[C:1]([C@@:2]([O:3][H:12])([C:4](=[O:5])[H:14]...,"InChI=1S/C4H8O3/c1-4(6)2-7-3-5/h3-4,6H,2H2,1H3...","InChI=1S/C3H6O2.CH2O/c1-3(5)2-4;1-2/h2-3,5H,1H...",73.72767,31.87166,NaN,72.75039,30.54744,NaN,NaN
11924,[C:1]([C@@:2]([O:3][H:12])([C:4]([O:5][C:6](=[...,[C:1](=[C:2]([C:4]([O:5][C:6](=[O:7])[H:15])([...,"InChI=1S/C4H8O3/c1-4(6)2-7-3-5/h3-4,6H,2H2,1H3...","InChI=1S/C4H6O2.H2O/c1-2-3-6-4-5;/h2,4H,1,3H2;1H2",66.77095,16.40895,"1,3_Insertion_ROR",65.83112,14.48350,NaN,NaN
11925,[C:1]([C@@:2]([O:3][H:12])([C:4]([O:5][C:6](=[...,[C:1]([C:2](=[O:3])[C:4]([O:5][C:6]([O:7][H:12...,"InChI=1S/C4H8O3/c1-4(6)2-7-3-5/h3-4,6H,2H2,1H3...","InChI=1S/C4H8O3/c1-4(6)2-7-3-5/h5H,2-3H2,1H3",52.49260,15.24899,NaN,52.57819,15.06159,NaN,NaN

In [8]:
merged_df.count()

rsmi                    11926
psmi                    11926
rinchi                  11926
pinchi                  11926
dE0_wb97xd3             11926
dHrxn298_wb97xd3        11926
rmg_family               1481
dE0_ccsdtf12_dz         11926
dHrxn298_ccsdtf12_dz    11926
dE0_ccsdtf12_tz            15
dHrxn298_ccsdtf12_tz       15
dtype: int64

In [9]:
# show a sample of the duplicate rows that have the same idx but different rsmi
merged_df[merged_df.duplicated(subset=['rsmi', 'psmi', 'rinchi', 'pinchi', 'rmg_family'], keep=False)].sort_values('rsmi')

Empty DataFrame
Columns: [rsmi, psmi, rinchi, pinchi, dE0_wb97xd3, dHrxn298_wb97xd3, rmg_family, dE0_ccsdtf12_dz, dHrxn298_ccsdtf12_dz, dE0_ccsdtf12_tz, dHrxn298_ccsdtf12_tz]
Index: []

In [21]:
# combine the rsmi and psmi columns into a single column
merged_df['smiles'] = merged_df['rsmi']+'>>'+merged_df['psmi']

In [22]:
merged_df.columns

Index(['rsmi', 'psmi', 'rinchi', 'pinchi', 'dE0_wb97xd3', 'dHrxn298_wb97xd3',
       'rmg_family', 'dE0_ccsdtf12_dz', 'dHrxn298_ccsdtf12_dz',
       'dE0_ccsdtf12_tz', 'dHrxn298_ccsdtf12_tz', 'rxn_smiles', 'smiles'],
      dtype='object')

In [23]:
merged_df[['smiles',
           'dE0_wb97xd3', 'dHrxn298_wb97xd3',
           'dE0_ccsdtf12_dz', 'dHrxn298_ccsdtf12_dz',
           'dE0_ccsdtf12_tz', 'dHrxn298_ccsdtf12_tz']]

,smiles,dE0_wb97xd3,dHrxn298_wb97xd3,dE0_ccsdtf12_dz,dHrxn298_ccsdtf12_dz,dE0_ccsdtf12_tz,dHrxn298_ccsdtf12_tz
0,[C:1]([c:2]1[n:3][o:4][n:5][n:6]1)([H:7])([H:8...,48.73925,21.40228,48.61085,26.77621,NaN,NaN
1,[C:1]([c:2]1[n:3][o:4][n:5][n:6]1)([H:7])([H:8...,74.31711,21.57450,74.02980,28.79099,NaN,NaN
2,[C:1]([O:2][C:3]([C:4]([O:5][H:13])([H:11])[H:...,102.81328,13.09638,97.42200,12.60220,NaN,NaN
3,[C:1]([O:2][C:3]([C:4]([O:5][H:13])([H:11])[H:...,76.92773,27.94548,75.25375,28.98589,NaN,NaN
4,[C:1]([O:2][C:3]([C:4]([O:5][H:13])([H:11])[H:...,72.31295,1.38990,72.16356,1.41779,NaN,NaN
...,...,...,...,...,...,...,...
11921,[C:1]([C@@:2]([O:3][H:12])([C:4]([O:5][C:6](=[...,76.63047,81.75287,75.56813,79.63518,NaN,NaN
11922,[C:1]([C@@:2]([O:3][H:12])([C:4]([O:5][C:6](=[...,43.81820,6.42893,42.41621,5.79695,NaN,NaN
11923,[C:1]([C@@:2]([O:3][H:12])([C:4]([O:5][C:6](=[...,73.72767,31.87166,72.75039,30.54744,NaN,NaN
11924,[C:1]([C@@:2]([O:3][H:12])([C:4]([O:5][C:6](=[...,66.77095,16.40895,65.83112,14.48350,NaN,NaN
11925,[C:1]([C@@:2]([O:3][H:12])([C:4]([O:5][C:6](=[...,52.49260,15.24899,52.57819,15.06159,NaN,NaN

In [24]:
merged_df[['smiles','dHrxn298_wb97xd3','dHrxn298_ccsdtf12_dz']]

,smiles,dHrxn298_wb97xd3,dHrxn298_ccsdtf12_dz
0,[C:1]([c:2]1[n:3][o:4][n:5][n:6]1)([H:7])([H:8...,21.40228,26.77621
1,[C:1]([c:2]1[n:3][o:4][n:5][n:6]1)([H:7])([H:8...,21.57450,28.79099
2,[C:1]([O:2][C:3]([C:4]([O:5][H:13])([H:11])[H:...,13.09638,12.60220
3,[C:1]([O:2][C:3]([C:4]([O:5][H:13])([H:11])[H:...,27.94548,28.98589
4,[C:1]([O:2][C:3]([C:4]([O:5][H:13])([H:11])[H:...,1.38990,1.41779
...,...,...,...
11921,[C:1]([C@@:2]([O:3][H:12])([C:4]([O:5][C:6](=[...,81.75287,79.63518
11922,[C:1]([C@@:2]([O:3][H:12])([C:4]([O:5][C:6](=[...,6.42893,5.79695
11923,[C:1]([C@@:2]([O:3][H:12])([C:4]([O:5][C:6](=[...,31.87166,30.54744
11924,[C:1]([C@@:2]([O:3][H:12])([C:4]([O:5][C:6](=[...,16.40895,14.48350
11925,[C:1]([C@@:2]([O:3][H:12])([C:4]([O:5][C:6](=[...,15.24899,15.06159

In [25]:
merged_df[['smiles','dHrxn298_wb97xd3','dHrxn298_ccsdtf12_dz']].to_csv('tests/data/reaction/dHrxn298_wb97xd3_ccsdtf12.csv', index=False)